 <app-navbar [isHome]="isHome"></app-navbar>
 <!--Main layout-->
  <div class="container wow fadeIn">

    <!-- Heading -->
    <h2 class="my-5 h2 text-center">Checkout</h2>

    <!--Grid row-->
    <div class="row" *ngIf="ready">

      <!--Grid column-->
      <div class="col-md-8 mb-4">

        <!--Card-->
        <div class="card">

          <!--Card content-->
          <form class="card-body" [formGroup]="form">

            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-md-6 mb-2">

                <!--firstName-->
                <div class="md-form ">
                  <label for="firstName" class="">name</label>
                  <input type="text" id="name" class="form-control" formControlName="name"  placeholder="name">
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6 mb-2">

                <!--lastName-->
                <div class="md-form">
                  <label for="lastName" class="">surname</label>
                  <input type="text" id="surname" class="form-control" formControlName="surname"  placeholder="surname">
                </div>

              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->


            <!--address-->
            <div class="md-form">
              <label for="address" class="">address</label>
              <input type="text" id="address" class="form-control" placeholder="Adresa" formControlName="address">
            </div>

            <!--address-2-->
            <div class="md-form">
              <label for="address-2" class="">City</label>
              <input type="text" class="form-control"  formControlName="city"  placeholder="grad">
            </div>

                <div class="md-form">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone"  formControlName="phone"  placeholder="phone">
              </div>


            <hr class="mb-4">



          </form>
         

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">

        <!-- Heading -->
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge badge-secondary badge-pill">{{products.length}}</span>
        </h4>

        <!-- Cart -->
        <!-- <div class="cart-item-thumbnail" [ngStyle]="{'background-image': 'url(' + com.url + ')'}">
        </div> -->
        <ul class="list-group mb-3 z-depth-1">
          <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let product of products">
            <div>
              <div class="cart-item-thumbnail" [ngStyle]="{'background-image': 'url(' + product.url + ')'}">
              </div>
              <h6 class="my-0">{{product.model}}</h6>
              <small class="text-muted">{{product.model}}</small>
            </div>
            <span class="text-muted">{{product.price+" EUR"}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (EUR)</span>
            <strong>{{total}}</strong>
          </li>
        </ul>
        <select name="valute" (change)="onChange($event)">
          <option value="">Valuta</option>
          
          <option value="rsd" >rsd</option>
          
          <option value="usd" >usd</option>
          
          <option value="chf" >chf</option>
          
          <option value="gbr" >gbr</option>
          
          <option value="aud" >aud</option>     
          
          <option value="cad" >cad</option>
          
          <option value="sek" >sek</option>
          
          <option value="dkk" >dkk</option>
          
          <option value="nok" >nok</option>
          
          <option value="jpy" >jpy</option>
          
          <option value="rub" >rub</option>
          
          <option value="cny" >cny</option>
          
          <option value="hrk" >hrk</option>
          
          <option value="kwd" >kwd</option>
          
          <option value="pln" >pln</option>
          
          <option value="czk" >czk</option>

          <option value="huf" >huf</option>
          
          <option value="bam" >bam</option>
      </select>
      <strong *ngIf="selected">{{newtotal}}</strong>
        <button class="btn btn-primary btn-lg btn-block" (click)="confirmOrder()" *ngIf="form.valid || registered">Confirm order</button>
        <!-- Cart -->
