<div class="product-page-container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <article class="card-body">
          <h4 class="card-title text-center mb-4 mt-1">Add new phone</h4>
          <hr />
          <select [(ngModel)]="brandSelect" class="form-control" (change)="onChange($event)">
            <option value="" disabled selected hidden>Brend</option>
            <option *ngFor="let category of categories" [value]="category.id">
              {{ category.brand }}
            </option>
          </select>

          <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div class="form-group">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="model"
                  type="text"
                  ngModel
                  name="model"
                  id="model"
                />
              </div>
              <!-- input-group.// -->
            </div>
            <!-- form-group// -->
            <div class="form-group">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="price"
                  type="number"
                  ngModel
                  name="price"
                  id="price"
                />
              </div>
              <!-- input-group.// -->
            </div>
            <!-- form-group// -->

            <!-- form-group// -->
            <div class="form-group">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="description"
                  type="text"
                  ngModel
                  name="description"
                  id="description"
                />
              </div>
              <!-- input-group.// -->
            </div>
            <div class="form-group">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="ram"
                  type="text"
                  ngModel
                  name="ram"
                  id="ram"
                />
              </div>
              <!-- input-group.// -->
            </div>
            <div class="form-group">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="memory"
                  type="text"
                  ngModel
                  name="memory"
                  id="memory"
                />
              </div>
              <!-- input-group.// -->
            </div>
            <div class="form-group">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="screen_size"
                  type="text"
                  ngModel
                  name="screen_size"
                  id="screen_size"
                />
              </div>
              <!-- input-group.// -->
            </div>
            <div class="form-group">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="camera"
                  type="text"
                  ngModel
                  name="camera"
                  id="camera"
                />
              </div>
              <!-- input-group.// -->
            </div>
            <div class="form-group">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="front_camera"
                  type="text"
                  ngModel
                  name="front_camera"
                  id="front_camera"
                />
              </div>
              <!-- input-group.// -->
            </div>
            <div class="form-group">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="battery"
                  type="text"
                  ngModel
                  name="battery"
                  id="battery"
                />
              </div>
              <!-- input-group.// -->
            </div>
            <div class="form-group">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="system"
                  type="text"
                  ngModel
                  name="system"
                  id="system"
                />
              </div>
              <!-- input-group.// -->
            </div>
            <div class="form-group">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="Url"
                  type="text"
                  ngModel
                  name="url"
                  id="url"
                  (change)="onPhoto($event)"
                />
              </div>
              <!-- input-group.// -->
            </div>
            <!-- form-group// -->
            <div class="form-group">
              <button
                type="submit"
                class="btn btn-primary btn-block"
                [disabled]="!authForm.valid"
              >
                Dodaj
              </button>
            </div>
            <!-- form-group// -->
          </form>
        </article>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="product-details-image"
        *ngIf="url != ''"
        [ngStyle]="{ 'background-image': 'url(' + url + ')' }"
      ></div>
    </div>
  </div>
</div>
