

<app-navbar [isHome]="isHome"></app-navbar>

<div class="layout-container">
  <div class="row" *ngIf="admin">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
      <div class="product-cart-button button button-primary button-large" routerLink="/products/new">Dodaj</div>
    </div>
  </div>


  <div class="product-grid">
    <div class="row">
      <div *ngFor="let category of categories;" (click)='onChangeModel(category.id)' style="margin-right: 20px;">
        <p>{{category.brand}}</p>

  </div>
    </div>
    <div class="row">

      <div class="col-md-4 col-sm-6" *ngFor="let product of loadedProducts;">
          <div class="image-container">
              <div class="product-image" [ngStyle]="{'background-image': 'url('+product.url+ ')'}"></div>
              <div class="overlay">
                  <div class="button button-primary" [routerLink]="[product.id]">View Details</div>
              </div>
          </div>
          <div class="product-details">
              <div class="product-title">{{product.model}}</div>
              <div class="product-brand">{{product.description}}</div>
          </div>
      </div>
    </div>
  </div>
</div>
