
<div class="card bg-light" *ngIf="ready">
  <article class="card-body mx-auto" style="max-width: 400px;">
    <h4 class="card-title mt-3 text-center">Info</h4>
    <form [formGroup]="form">
    <div class="form-group input-group">
      <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
       </div>
          <input class="form-control" placeholder="name" type="text"  formControlName="name">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
         </div>
            <input  formControlName="surname" class="form-control" placeholder="surname" type="text" >
        </div>

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-address-card" aria-hidden="true"></i> </span>
       </div>
          <input  formControlName="address" class="form-control" placeholder="Address" type="text" >
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-address-card" aria-hidden="true"></i>  </span>
      </div>
        <input  formControlName="city" class="form-control" placeholder="city" type="text" >
      </div> <!-- form-group// -->

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-address-card" aria-hidden="true"></i>  </span>
      </div>
          <input  formControlName="phone" class="form-control" placeholder="Phone">
      </div> <!-- form-group// -->
          <button type="submit" class="btn btn-primary btn-block" *ngIf="!change" (click)="changeData()">Izmeni informacije</button>
          <button type="submit" class="btn btn-primary btn-block" *ngIf="change" [disabled]="form.invalid" (click)="saveData()">Sačuvaj</button>

  </form>
  </article>
  </div> <!-- card.// -->
